@import 'variables';

body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Smooch-Bold";
    src: url(../fonts/SmoochSans-Bold.ttf);
}
@font-face {
    font-family: "Smooch-Regular";
    src: url(../fonts/SmoochSans-Regular.ttf);
}

.cont{
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 50px;
}
.cont__texto{
    width: 60%;
    padding: 20px;
    align-self: flex-end;
    h2{
        font-size: 30pt;
        font-family: "Smooch-Bold";
        color: $color-titulo;
    }
    p{
        font-size: 20pt;
        font-family: "Smooch-Regular";
        color: $color-texto;
    }
}
.cont__img{
    width: 40%;
    padding: 10px;
    img{
        width: 100%;
    }
}