body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Smooch-Bold";
  src: url(../fonts/SmoochSans-Bold.ttf);
}

@font-face {
  font-family: "Smooch-Regular";
  src: url(../fonts/SmoochSans-Regular.ttf);
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 50px;
}

.cont__texto {
  width: 60%;
  padding: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cont__texto h2 {
  font-size: 30pt;
  font-family: "Smooch-Bold";
  color: #890F0D;
}

.cont__texto p {
  font-size: 20pt;
  font-family: "Smooch-Regular";
  color: #041C32;
}

.cont__img {
  width: 40%;
  padding: 10px;
}

.cont__img img {
  width: 100%;
}
/*# sourceMappingURL=estilos.css.map */